body {
    background-color:rgb(206, 198, 198);
    color: #bd9a9a;
    font-family: Arial, sans-serif;
}

header {
    background-color:aqua
    color:white;
    text-align: center;
    padding: 30px;
}
h1 {
    font-size: 36px;
}

h2 {
    color:beige;
}

p {
    font-size: 18px;
    line-height: 1.6;
}
    nav {
        margin-top: 20px;
    }

    nav a {
        color: white;
        test-decoration: none;
        background-color: aliceblue;
        padding: 10px 15px;
        border-radius: 8px;
        margin: 5px;
        display: inline-block;
    }

    nav a: hover {
        background-color: black;
    }

    main {
        width: 80%;
        margin: auto;

    }

    section {
        background-color: aqua;
        margin: 20px 0;
        padding: 20px;
        border-radius: 12px;
    }
    img {
        width: 100%;
        max-width: 600px;
        display: block;
        margin: auto;
        border-radius: 12px;
    }

    figcaption {
        text-align: center;
        font-size: 14px;
        color: aquamarine;
    }
    

